.banniere {
    max-height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #d1515a;
    color: white;
    font-weight: bold;
}

.banniere--logo {
    max-height: 80px;
}

.banniere--menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 200px;
}

.banniere--menu li {
    font-size: 18px;
    cursor: pointer;
}