body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Calibri';
}

html {
    height: 100%;
}

main {
    flex-grow: 1;
}

#root {
    height: 100%;
}

.bouton--retour {
    cursor: pointer;
    font-size: 20px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 6px;
    height: 30px;
    width: 150px;
    border-radius: 20px;
    border: #091f43  1px solid;
    background-color: #d1515a;
    color: white;
    font-weight: bold;
    text-align: center;
}

.bouton--create, .bouton--delete {
    margin: auto;
    cursor: pointer;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    min-height: 30px;
    min-width: 120px;
    border-radius: 20px;
    border: #091f43  1px solid;
    background-color: #d1515a;
    color: white;
}

.bouton--choix {
    margin: auto;
    margin-left: 5px;
    cursor: pointer;
    font-size: 20px;
    padding: 2px 8px;
    border-radius: 20px;
    border: #091f43  1px solid;
    background-color: #d1515a;
    color: white;
}