.section--choix {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    max-width: 50%;
    justify-content: space-around;
    margin: auto;
    min-height: 60px;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}