.create--post {
    width: 100%;
}

.newPost {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 300px;
    align-items: center;
}

.box {
    margin-left: 20px;
}

.newPost label {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.textbox {
    white-space: normal;
    overflow: visible;
    width: 300px;
    height: 120px;
}