.messagelist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
    text-align: center;
}

.post {
    padding-left: 10px;
    padding-right: 10px;
    border: black 2px solid;
    border-radius: 20px;
    min-width: 200px;
    margin: 15px;
}

.post--zone {
    max-width: 60%;
    width: 30%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.post--alone {
    margin-top: 30px;
    text-align: center;
}

.post--desc {
    width: 100%;
    background-color: #cacaca;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.post--titre{
    flex-grow: 1;
    margin-top: 0px;
    color: black;
}

.post--contenu {
    width: 100%;
}

.post--auteur {
    color: black;
    margin-bottom: 8px;
}

.post--date {
    font-style: italic;
    margin-bottom: 8px;
}

.text--action {
    margin-top: 10px;
}

.form--comment {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}