.messagelist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.post {
    padding-left: 10px;
    padding-right: 10px;
    border: black 2px solid;
    border-radius: 20px;
    min-width: 200px;
    margin: 15px;
}

.post--alone {
    margin-top: 50px;
    text-align: center;
}

.post--desc {
    margin-top: 20px;
    margin-bottom: 20px;
}